<div plugin="include(page='Slides_Author')">
    <div class="hidden-in-outline author-block author-affiliation">
        Tom
    </div>
    <div class="row hidden-in-outline author-block justify-content-md-center">
        <div class="author-affiliation">
            <a href="http://www.nju.edu.cn/">
                <img alt="" class="inline-img" height="64px" src="static/wiki/common/slides-author/nju-logo.png"></img>
            </a>
        </div>
        <div class="author-affiliation">
            <a href="http://cs.nju.edu.cn/">
                <img alt="" class="inline-img" height="64px" src="static/img/njucs.jpg"></img>
            </a>
        </div>
    </div>
</div>